.iframeTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	color: var(--color-primaryTextColor);
	background-color: var(--color-background);
	.closeModalBtn {
		padding: 10px;
		border: none;
		color: var(--color-primaryTextColor);
		background-color: transparent;
		cursor: pointer;
	}
}

.video {
	aspect-ratio: 16 / 9;
	width: 100%;
}
