@import './colors.scss';

::-webkit-scrollbar {
	width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
	background-color: var(
		--color-placeholder
	); /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
	background-color: var(
		--color-primaryShadow
	); /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(
		--color-primary
	); /* Set the color of the scrollbar thumb when hovered over */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-placeholder);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-placeholder);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-placeholder);
}

body {
	//font-family: 'Roboto', sans-serif;
	font-family: 'Poppins', 'Roboto', sans-serif;

	background-color: var(--color-background);
}
p {
	margin: 0;
	padding: 0;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
